.navbar.navbar-fixed-top
  .navbar-inner
    .container
    
      = link_to 'Mastermind', root_path, class: 'brand'
      
      .nav-collapse
        %ul.nav
          %li= link_to "Jobs", jobs_path          
